head
  title Login/Register
  link(rel='stylesheet' href='style/style.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
.main
  .form
    .button
      #btn
      button.toggle-btn(type='button' onclick='login()') Log In
      button.toggle-btn(type='button' onclick='register()') Register
    // Login Form
    form#login.input-group
      input#loginEmail.input-field(onkeyup='check()' type='text' placeholder='Email' required)
      .error-text Please enter a valid email Id
      input#loginPassword.input-field(type='password' placeholder='Password' required)
      label#login_error.errormsg
      button.submit-btn(type='submit') Log In
    // Register Form
    form#register.input-group
      input#first_name.input-field(type='text' placeholder='First Name' required)
      label#first_name_error.errormsg
      input#last_name.input-field(type='text' placeholder='Last Name' required)
      label#last_name_error.errormsg
      input#registerEmail.input-field(onkeyup='checkReg()' type='text' placeholder='Email Id' required)
      .error-text-two Please enter a valid email Id
      label#email_error.errormsg
      input#password.input-field(type='password' placeholder='Enter password' required)
      label#password_error.errormsg
      label#generic_error.errormsg
      p By Signing up, I agree to the 
      a(href="/PrivacyPolicy.docx") Privacy Policy
      br
      br
      button.submit-btn(type='submit') Register
// Script to toggle between the forms
script(src='scripts/login-register.js')
