@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'montserrat', sans-serif;
    
}
.content{
    max-width: 600px;
    margin-top: 100px;
    padding-left: 60px;
    padding-bottom: 40px;
    font-size: 25px;
}
.content h1{
    font-size: 60px;
    border-left: 0.5rem solid #3767c7;
    animation-name: fade;
    animation-duration: 3s;
}
@keyframes fade{
    0%{
        opacity: 0;
        transform: translateX(-20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.content p{
    max-width: 520px;
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    margin: 80px 0;
}

.car-img{
    width: 1000px;
    height: 500px;
    position: relative;
    left: 650px;
    bottom: 400px;
    animation-name: zoom;
    animation-duration: 10s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
}
@keyframes zoom{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1) translateX(-3%)
    }
    100%{
        transform: scale(1);
    }
}
.section-one{
    width:100%;
    height: 70%;
}
.section-one p{
    text-align: left;
}
.section-two{
    width: 100%;
    height: 500px;
}

.content-two h1{
    max-width: 500px;
    margin-top: 80px;
    margin-left: 50%;
}
.content-two button{
    position: relative;
    left: 450px;
    bottom: 300px;
    border: 1px solid red;
    padding: 15px 50px;
    cursor: pointer;
    margin: auto;
    background: linear-gradient(to right, #3767c7, #8D86C9);
    border: 0;
    outline: none;
    color: white;
    border-radius: 30px;
}
.content-three button{
    position: relative;
    left: -170px;
    bottom: 300px;
    border: 1px solid red;
    padding: 15px 50px;
    cursor: pointer;
    margin: auto;
    background: linear-gradient(to right, #3767c7, #8D86C9);
    border: 0;
    outline: none;
    border-radius: 30px;
    color: white;
}
.content-two p{
    max-width: 500px;
    margin-left: 50%;
    margin-top: 150px;
    position: relative;
    bottom: 130px;
}
.content-two img{
    width: 600px;
    height: 400px;
    left: 90px;
    bottom: 310px;
    position: relative;
}

.section-two{
    width: 100%;
    height: 500px;
}

.section-three{
    width: 100%;
    height: 550px;
}

.content-three img{
    width: 600px;
    height: 400px;
    position: relative;
    bottom: 310px;
    left: 60%;
}
.content-three h1{
    width: 550px;
    margin-top: 80px;
    margin-left: 15%;
}
.content-three p{
    max-width: 500px;
    margin-left: 15%;
    margin-top: 150px;
    position: relative;
    bottom: 130px;
}

.section-four{
    width: 100%;
    height: 1550px;
}

.content-four img{
    width: 1500px;
    height: 850px;
    position: relative;
    padding: 20px;
    left: 150px;
}
.content-four h1{
    max-width: 600px;
    margin-top: 80px;
    left: 168px;
    position: relative;
}
.content-four p{
    max-width: 520px;
    left: 168px;
    margin-top: 20px;
    position: relative;
    text-align: left;
    color: red;
}


.card{
    box-shadow: 0 0 20px 9px #3980dd1f;
    width: 18rem;
    position: relative;
    left: 55%;
    bottom: 380px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid black;
}
.card h5, h6, p{
    position: relative;
    text-align: center;
}
.card p{
    width: 70%;
    position: relative;
    left: 40px;
    color: black;
}


.card-two{
    box-shadow: 0 0 20px 9px #3980dd1f;
    width: 18rem;
    position: relative;
    left: 73%;
    bottom: 347px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid black;
}
.card-two h5, h6, p{
    position: relative;
    text-align: center;
    
}
.card-two p{
    width: 70%;
    position: relative;
    left: 40px;
    color: black;
}
.card-three{
    box-shadow: 0 0 20px 9px #3980dd1f;
    width: 18rem;
    position: relative;
    left: 988px;
    bottom: 680px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid black;
}
.card-three p{
    width: 95%;
    position: relative;
    left: 5px;
    font-size: 15px;
}
.card-three img{
    padding: 0px;
    left: -0.5px;
    width: 18rem;
    height: 200px;
    border-radius: 5px;
}
.card-three h5, .card-three h6{
    text-align: left;
}

.card-four{
    box-shadow: 0 0 20px 9px #3980dd1f;
    width: 18rem;
    position: relative;
    left: 73%;
    bottom: 1435px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid black;
}
.card-four h5, h6, p{
    position: relative;
    text-align: center;
    
}
.card-four p{
    width: 70%;
    position: relative;
    left: 40px;
    color: black;
}


.content-four button{
    position: relative;
    left: 350px;
    bottom: 1300px;
    padding: 15px 50px;
    cursor: pointer;
    margin: auto;
    background: linear-gradient(to right, #3767c7, #8D86C9);
    border: 0;
    outline: none;
    border-radius: 30px;
    color: white;
}

.section-five{
    width: 100%;
    height: 700px;
}
.content-five img{
    width: 1000px;
    height: 550px;
    bottom: 310px;;
    position: relative;
    background-color: rgba(185, 184, 184, 0.7);
    padding: 0px;
    left: 50px;
    border-radius: 10px;
    box-shadow:  0 0 20px 9px #3980dd1f;
      -moz-box-shadow: 10px 10px 5px #ccc;
      -webkit-box-shadow: 10px 10px 5px #ccc;
      -khtml-box-shadow: 10px 10px 5px #ccc;
}

.content-five h1, .content-five p{
    position: relative;
    bottom: -30px;
    width: 30%;
    left: 1180px;
    text-align: center;
}
.content-five h1{
    margin-top: 150px;
    font-size: 65px;
}
.content-five p{
    text-align: left;
}
.container#five{
    margin-top: 100px;
    width: 1500px;
    text-align: center;
}
