@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'montserrat', sans-serif;
    
}
body{
    background-color: rgb(231, 229, 229);
}
.navbar-brand{
  font-size: 30px;
  text-transform: uppercase;
  padding-left: 20px;
}
.navbar-nav{
    margin-left: 750px;
}
.content{
    max-width: 600px;
    margin-top: 100px;
    padding-left: 60px;
    padding-bottom: 40px;
}
.content h1{
    font-size: 60px;
}
.content p{
    max-width: 450px;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    margin: 40px 0;
}

.car-img{
    width: 55%;
    position: absolute;
    right: 50px;
    bottom: 10px;
}

.filter-section{
    height: 55%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.filter-search-form{
   padding-top: 40px;
}
.reset-search-label{
    margin-left: 550px;
    margin-top: 5px;
}
.button{
    text-align: center;
    padding-top: 10px;
}
.btn-lg{
    width: 200px;
    border-radius: 30px;
}

.form-select{
    width: auto;
    padding: 10px;
    margin: 5px;
}


/*cars page section hearder
.section-title--special{
    padding: 0.5rem 2rem;
}*/