@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'montserrat', sans-serif;
    
}
body{
    background-color: rgb(250, 250, 250);
}
.navbar-brand{
  font-size: 40px;
  text-transform: uppercase;
  padding-left: 20px;
}
.navbar-nav{
    margin-left: 750px;
}
.filter-section{
    height: 55%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.filter-search-form{
   padding-top: 40px;
}

.reset-search-label{
    margin-left: 550px;
    margin-top: 5px;
}
.button{
    text-align: center;
    padding-top: 10px;
}
.btn-lg{
    width: 200px;
    border-radius: 30px;
}

.form-select{
    width: auto;
    padding: 10px;
    margin: 5px;
}
.footer {
    position: fixed;
}
.error-text{
    position: relative;
    margin: 15px 0 -5px 0;
    background: #e74c3c;
    color: #fceae8;
    padding: 3px;
    border-radius: 3px;
    display: none;
}
.error-text:before{
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    background: #000;
    background: #e74c3c;
    right: 20px;
    top: -7px;
    transform: rotate(45deg)
}


/*cars page section hearder
.section-title--special{
    padding: 0.5rem 2rem;
}*/