@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'montserrat', sans-serif;
}
.main{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(bg.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}
.form-select{
    padding-right:30px;
}
.button{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #3767c7, #8D86C9);
    border-radius: 30px;
    transition: .5s;
}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(72, 158, 238);
    outline: none;
    background: transparent;
}
#usersDiv, #carsDiv, #baysDiv, #blank{
    width:100%;
    height:100%;
}
#blank{
    background-color:rgb(186, 213, 238)
}

#carsDiv, #baysDiv, #usersDiv{
    text-align: center;
    padding: 15px;
}

#addCar, #addBay, #createUser{
    margin-top: 15px;
}
.adminNav{
    height:100%;
    width:300px;
    background-color:#004aad;
    display:inline-block;
    float: left;
}

.adminNav button{
    background-color:#004aad;
    border-top : 1px solid white;
    width:100%;
    height:80px;
    color: white;
    
    transition-duration: 0.25s;
}
.adminNav button:hover{
    background-color: #04295a
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #3767c7, #8D86C9);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box{
    margin: 30px 11px 30px 1px;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}
.errormsg{
    color: red;
    display:block;
}


.content-table {
    margin-left: auto;
    margin-right: auto;
}
.content-table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
        font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.content-table button{
    border-color: #009879;
    color: black;
    background-color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    border-width: 4px;
}
.content-table button:hover{
    background-color: #009879;
    color: white;
}

.deletebtn{
    border-color: #ff0000;
    color: black;
    background-color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    border-width: 4px;
}
.deletebtn:hover{
    background-color: #ff0000;
    color:white;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


  .modals {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .mContent {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    text-align:center;
    display: block;
  }



  