head
  meta(charset='utf-8')
  title Admin-create-bookings
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js' integrity='sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf' crossorigin='anonymous')
  script(src='/node_modules/@fortawesome/fontawesome-free/js/all.js')
  link(rel='stylesheet' href='/../../style/admin.css')
header
  a.navbar-brand(href='#')
    img.d-inline-block.align-text-top(src='/style/L.png' alt='' width='100' height='95')
  a#label.navbar-brand(href='#') Rent-A-Lux
  ul.nav
    li
      a(href='#')
        i.fa.fa-user
                                 Admin
        i.fa.fa-chevron-down(style='font-size: .8em')
      ul
        li
          a.logout(href='#') Logout
// Admins wrapper
.admin-wrapper
  // Sidebar
  .left-sidebar
    ul
      li
        a(href='../users/index.html') Manage Users
      li
        a(href='index.html') Manage Bookings
      li
        a(href='../cars/index.html') Manage Cars
      li
        a(href='../bays/index.html') Manage Bays
  // Admin content
  .admin-content
    .content
      h2.page-title.d-flex.justify-content-center Create Bookings
      form
        .mb-3
          label.form-label(for='booking') Booking ID:
          input#booking.form-control(type='booking')
        .mb-3
          label.form-label(for='carid') Car ID:
          input#carid.form-control(type='carid')
        .mb-3
          label.form-label(for='userid') User ID:
          input#userid.form-control(type='userid')
        .mb-3
          label.form-label(for='startbayid') Start Bay ID:
          input#startbayid.form-control(type='startbayid')
        .mb-3
          label.form-label(for='endbayid') End Bay ID:
          input#endbayid.form-control(type='endbayid')
        .mb-3
          label.form-label(for='date') Date:
          input#date.form-control(type='date')
        .mb-3
          label.form-label(for='duration') Duration:
          input#duration.form-control(type='duration')
        .mb-3
          label.form-label(for='rate') Rate:
          input#rate.form-control(type='rate')
        button.btn.btn-success.btn-lg(type='submit') Create
