// Footer
footer.footer.mt-auto.bg-dark.text-center.text-white(style='position: absolute;width:100%;')
  // Grid container
  .container.p-4
    // Section: Form
    section
      form(action='')
        // Grid row
        .row.d-flex.justify-content-center
          // Grid column
          .col-auto
            p.pt-2
              strong Sign up for our newsletter
          // Grid column
          // Grid column
          .col-md-5.col-12
            // Email input
            .form-outline.form-white.mb-4
              input#form5Example2.form-control(type='email')
          // Grid column
          // Grid column
          .col-auto
            // Submit button
            button.btn.btn-outline-light.mb-4(type='submit')
              | Subscribe
    section.mb-4
      p
        | Stay updated about our latest car additions. Sign-up for our newsletter.
    // Section: Text
    // Section: Links
    section
      // Grid row
      .row
        // Grid column
        .col-lg-3.col-md-6.mb-4.mb-md-0
          h5.text-uppercase Links
          ul.list-unstyled.mb-0
            li
              a.text-white(href='#!') Link 1
            li
              a.text-white(href='#!') Link 2
            li
              a.text-white(href='#!') Link 3
            li
              a.text-white(href='#!') Link 4
        // Grid column
        // Grid column
        .col-lg-3.col-md-6.mb-4.mb-md-0
          h5.text-uppercase Links
          ul.list-unstyled.mb-0
            li
              a.text-white(href='#!') Link 1
            li
              a.text-white(href='#!') Link 2
            li
              a.text-white(href='#!') Link 3
            li
              a.text-white(href='#!') Link 4
        // Grid column
        // Grid column
        .col-lg-3.col-md-6.mb-4.mb-md-0
          h5.text-uppercase Links
          ul.list-unstyled.mb-0
            li
              a.text-white(href='#!') Link 1
            li
              a.text-white(href='#!') Link 2
            li
              a.text-white(href='#!') Link 3
            li
              a.text-white(href='#!') Link 4
        // Grid column
        // Grid column
        .col-lg-3.col-md-6.mb-4.mb-md-0
          h5.text-uppercase Links
          ul.list-unstyled.mb-0
            li
              a.text-white(href='#!') Link 1
            li
              a.text-white(href='#!') Link 2
            li
              a.text-white(href='#!') Link 3
            li
              a.text-white(href='#!') Link 4
  .text-center.p-3(style='background-color: #004aad;')
    | &copy; 2020 Copyright:
    a.text-white(href='https://mdbootstrap.com/') Rent-A-Lux
  // Copyright
